<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link REL="SHORTCUT ICON" HREF="{% static "imge/favicon.ico" %}">
    <title>剪映json转换为srt字幕</title>
    <link rel="preconnect" href="https://fonts.lug.ustc.edu.cn">
    <link rel="preconnect" href="https://fonts.lug.ustc.edu.cn" crossorigin>
    <link href="https://fonts.lug.ustc.edu.cn/css2?family=Noto+Sans+SC:wght@100;400&display=swap" rel="stylesheet">
{#    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">#}
    <style>
        body {
            {#background-color: #eeeeee;#}
            {#width: 500px;#}
            font-family: 'Noto Sans SC', sans-serif;
            border: 25px solid #88aea3;
            {#border-color: #efec8f;#}
            padding: 25px;
            {#margin: 25px;#}
            box-shadow: 8px 8px 8px #888888;
            }
    </style>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?142a450d1f0ca13c529bca6b2332f6b9";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <meta name="referrer" content="no-referrer">
</head>

<body>
<h2>剪映识别字幕导出srt</h2>
<h4>导出带时间轴srt</h4>
<form enctype="multipart/form-data" action="/upload/" method="post">
    <input type="file" name="json2srt"/>
    <input type="submit" value="开始转换"/>
</form>
<h4>导出纯文本srt</h4>
<form enctype="multipart/form-data" action="/upload2/" method="post">
    <input type="file" name="json2srt"/>
    <input type="submit" value="开始转换"/>
</form>
<br>
<a href="https://space.bilibili.com/903059" >作者:B站 ClegeA</a>
<h1></h1>
<br />
<hr />
<h2>使用方法</h2>

<p>首先将视频导入到剪映电脑版本</p>
<p>点击识别字幕</p>
<p>识别完成后关掉剪映</p>
<p>找到******.json文件</p>
<blockquote>
    windows路径: C:\Users\用户名\AppData\Local\JianyingPro\User Data\Projects\com.lveditor.draft\****-***-***-***-***\*****.json(一般是文件最大的那个)
    <br>
    macOS路径: ~/Movies/JianyingPro/User Data/Projects/com.lveditor.draft/****-***-***-***-***/******.json(一般是文件最大的那个)
</blockquote>
<p>在此页面选择文件</p>
<p>点击开始转换即可开始下载</p>
<p>注意:有时候需要关掉下载器才能下载字幕</p>
<a href="https://www.bilibili.com/video/BV1N64y1d7A8/">视频教程</a>
<p>如果有BUG,也请私信UP主反馈一下,谢谢</p>

<p>2021.7.23  更新windows下pr的兼容性</p>
</body>

</html>

